
/* Вкладки */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-btn {
    background: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #888;
}

.clock {
    background-color: #F4B400;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 6%;
}

.timer {
    background-color: #F4B400;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 38%;
    right: 9%;
}

.timer-btn {
    background: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #888;
}

.screamer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/screamer.jpeg'); 
    background-size: cover;
    background-position: center;
    z-index: 9999;
    cursor: pointer;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin-top: 81px;
    background-color: #F7F7F7;
}

.registration-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
  
.registration-form h2 {
    margin-bottom: 20px;
}
  
.registration-form label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}
  
.registration-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}
  
.registration-form button {
    background: #F4B400;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.registration-form button:hover {
    background: #d99d00;
}
  
.users-list {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F7F7F7;
    padding-bottom: 92px;
}

.user {
    padding: 50px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 16px;
    text-align: center;
}

.user > h3 {
    font-size: 28px;
}

.user > p {
    font-size: 18px;
}

.user > button {
    background: #F4B400;
    border: none;
    padding: 10px;
    width: 140px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.user:nth-child(2) {
    display: none;
}

.user-visible {
    display: block !important;
}